@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit',Arial, Helvetica, sans-serif;
    background-color: rgb(77, 115, 172);
    height: 100vh;
    color: rgb(0, 0, 0);
}

:root {
    --tela: #EFD24A;
    --section: #4A4BF0;
    --formulario:  #1213A3;
    --botaoSubmit: #FFE77A;
}

/*menu*/
main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    background-color: var(--tela);
}

/*###############
Cabeçalho
###############*/
h1,
h2,
h3 {
    text-align: center;
}

label {
    font-weight: bolder;
}

div>img {
    display: block;
    height: 50%;
    width: 50%;
    margin: auto;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.301);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
div > img:hover {
    transform: scale(1.1); /* Aumenta em 10% */
    box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.501); /* Altera a sombra */
}

section {
    border-radius: 15px;
    background-color: var(--section);
    box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.301);
    padding: 15px;
}

div {
    display: none;
    text-align: center;
    margin-top: 10px;
}

section form {
    text-align: center;
    margin: auto;
    background-color: var(--formulario);
    border-radius: 15px;
    padding: 15px;
    color: #ffffffba;
}

p {
    margin-bottom: 8px;
}

input {
    border-radius: 15px;
    border: none;
    padding: 5px;
    width: 100%;
}

/*###############
Botao de enviar
###############*/
input[type="submit"] {
    background-color: var(--botaoSubmit);
    padding: 10px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: var(--section);
    cursor: pointer;
}