@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*paleta de cores*/
:root {
    --tela: #EFD24A;
    --section: #4A4BF0;
    --formulario: #1213A3;
    --botaoSubmit: #FFE77A;
}

body {
    font-family: 'Kanit', Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, var(--section), var(--tela));
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


main {
    display: inline-block;
    padding: 15px;
    margin-top: 2%;
    position: relative;
}

.pokedex {
    max-width: 350px;
    width: 100%;
}

.pokemonImagem {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);
    height: 18%;
}

.pokemonData {
    position: absolute;
    font: 600;
    color: #333a;
    top: 54.5%;
    right: 27%;
    font-size: clamp(8px, 5vw, 1rem);
}

.nome {
    color: #3a444d;
    text-transform: capitalize;
}

form {
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

input {
    width: 100%;
    padding: 5%;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: 600;
    color: #333e;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #6d6767, -5px 7px 0 #5c5959;
}

.botoes {
    position: absolute;
    bottom: 15%;
    left: 52%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
    cursor: pointer;
}

button {
    width: 50%;
    padding: 1%;
    border: 2px solid black;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    background-color: gray;
    box-shadow: -2px 2px 0 #444d, -4px 6px 0 #333a;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    font-size: clamp(30px, 5vw, 2rem);
    color: #121a2a;
}

button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;

    .material-symbols-outlined {
        font-size: clamp(28px, 5vw, 1rem);
    }
}

ul {
    list-style: none;
    position: absolute;
    right: -0%;
    bottom: 60%;
    transform: translate(100%, 50%);
}

ul img{
    display: inline-block;
    height: 40px;
    max-width: 100%;
    border-radius: 20px;
    padding: 5px;
}

ul li{
    margin-top: 20px;
}
ul img:hover, ul img:active {
    border: 2px solid black;
    box-shadow: inset 4px -4px 12px 0px #000000, 5px 10px 3px #333a;
    transition: transform 0.5s ease-in-out, border .5s, box-shadow 1s;
}

@keyframes moveAndRotate {
    to {
        transform: translate(-10%, -30%) rotate(360deg)
    }
}

ul img {
    transform-origin: center center; 
}

ul img:hover {
    animation: moveAndRotate 1s forwards;
}

@media (max-width: 300px) {
    .botoes {
        bottom: 13%;
    }

    form {
        left: 14.5%;
    }
}

@media (max-width: 470px){
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0%;
        
        left: 0%;
        bottom: 0%;
        transform: translate(-5%, 60%);
    }
    ul li{
        margin-top: 0;
        margin-left: 20px;
    }
}